In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('houses_to_rent.csv')

In [4]:
df.head

<bound method NDFrame.head of       Unnamed: 0  city  area  rooms  bathroom  parking spaces floor  \
0              0     1   240      3         3               4     -
1              1     0    64      2         1               1    10
2              2     1   443      5         5               4     3
3              3     1    73      2         2               1    12
4              4     1    19      1         1               0     -
...          ...   ...   ...    ...       ...             ...   ...
6075        6075     1    50      2         1               1     2
6076        6076     1    84      2         2               1    16
6077        6077     0    48      1         1               0    13
6078        6078     1   160      3         2               2     -
6079        6079     1    60      2         1               1     4

         animal      furniture      hoa rent amount property tax  \
0         acept      furnished      R$0     R$8,000      R$1,000
1         acept  not furnished    R$540       R$820        R$122
2         acept      furnished  R$4,172     R$7,000      R$1,417
3         acept  not furnished    R$700     R$1,250        R$150
4     not acept  not furnished      R$0     R$1,200         R$41
...         ...            ...      ...         ...          ...
6075      acept  not furnished    R$420     R$1,150          R$0
6076  not acept      furnished    R$768     R$2,900         R$63
6077      acept  not furnished    R$250       R$950         R$42
6078  not acept  not furnished      R$0     R$3,500        R$250
6079      acept      furnished    R$489     R$1,900          R$0

     fire insurance     total
0             R$121   R$9,121
1              R$11   R$1,493
2              R$89  R$12,680
3              R$16   R$2,116
4              R$16   R$1,257
...             ...       ...
6075           R$15   R$1,585
6076           R$37   R$3,768
6077           R$13   R$1,255
6078           R$53   R$3,803
6079           R$25   R$2,414

[6080 rows x 14 columns]>

In [5]:
df.shape

(6080, 14)

In [6]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [8]:
df['rent amount'].value_counts(normalize=True) *100

R$15,000    2.549342
R$3,000     2.302632
R$3,500     2.220395
R$2,000     2.171053
R$2,500     2.088816
              ...
R$4,092     0.016447
R$2,465     0.016447
R$2,660     0.016447
R$4,998     0.016447
R$6,553     0.016447
Name: rent amount, Length: 1032, dtype: float64

In [ ]:
df = df.drop